.number-button-container{
   display: grid;
   grid-template-columns: 100px 100px 100px;
   grid-template-rows: 100px 100px 100px; 
}
.num-button{
    background-color: #ffffff;
    font-weight: bold;
    font-size: 2.4rem;
}